<h1>Password Generator</h1>
<div class="">
  <label for="">Enter Length</label>
  <input
    type="text"
    (input)="onChangeText($event.target.value)"
    [value]="length"
  />
</div>
<div class="">
  <input
    type="checkbox"
    name=""
    [value]="useLetters"
    (change)="onChangeUseLetters()"
  />
  <label for="">Use Letters</label>
</div>
<div class="">
  <input
    type="checkbox"
    name=""
    [value]="useNumbers"
    (change)="onChangeUseNumbers()"
  />
  <label for="">Use Numbers</label>
</div>
<div class="">
  <input
    type="checkbox"
    name=""
    [value]="useCharacters"
    (change)="onChangeUseCharacters()"
  />
  <label for="">Use Special Characters</label>
</div>
<div class="">
  <button type="button" name="button" (click)="onButtonClick()">
    Generate
  </button>
</div>
<div class="">
  <span for="">Your Password: {{ password }}</span>
</div>
{{ length }}
