<div class="main-container">
  <h1 class="heading">Password Generator</h1>
  <div class="length-input">
    <label for="length" class="length-label">Enter Length</label>
    <input
      type="text"
      (input)="onChangeText($event.target.value)"
      [value]="length"
      name="length"
      class="length"
    />
  </div>
  <div class="check-container">
    <input
      class="checkbox"
      type="checkbox"
      name="letters"
      [value]="useLetters"
      (change)="onChangeUseLetters()"
    />
    <label for="letters" class="check-label">Use Letters</label>
  </div>
  <div class="check-container">
    <input
      class="checkbox"
      type="checkbox"
      name="nums"
      [value]="useNumbers"
      (change)="onChangeUseNumbers()"
    />
    <label for="nums" class="check-label">Use Numbers</label>
  </div>
  <div class="check-container">
    <input
      class="checkbox"
      type="checkbox"
      name="chars"
      [value]="useCharacters"
      (change)="onChangeUseCharacters()"
    />
    <label for="chars" class="check-label">Use Special Characters</label>
  </div>
  <div class="button-container">
    <button
      class="button"
      type="button"
      name="button"
      (click)="onButtonClick()"
    >
      Generate
    </button>
  </div>

  <div class="result" *ngIf="password">
    <span for="result-text">Generated Password: </span>
    <div class="password-holder">
      {{ password }}
    </div>
  </div>
</div>
